body {
  background-color: #d2dfe7;
  color: #141313;
  /* text-align: center; */
  font-size: 18px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 60px;
  width: 80%;
  max-width: 400px;
}

.add-button {
  background-color: #acd2f3;
  padding: 10px 15px;
margin-left: 90%;
  text-decoration: none;
  border-radius: 10px;
  color: #170404;
}

.title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 40px;
}

.menu-item {
  background-color: hsl(201, 92%, 50%);
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  text-decoration: none;
}


.menu-item .link {
  color: #4abf4c;
 
  font-size: 35px;
}

.menu-item .link:hover {
  color: #1C90F4;
}

.text-button-delete {
  color: red;
}

.text-button-delete:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #69a1ea;
  padding: 15px;
  width: 88%;
  font-size: 16px;
  margin-top:  15px;
  border: none;
  border-radius: 10px;
 
}

.btn {
  background-color: #e3e8ed;
  padding: 15px;
  width: 84%;
  font-size: 16px;
  margin: 0px 10px;
  margin-top:15px;
  border: none;
  border-radius: 10px;
  color: #0f0909;

}

.btn-primary:hover {
  cursor: pointer;
  background-color: #5e5ce9;
}

.card {
  background-color: #c1deee;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  text-decoration: none;
}

.card-body {
  padding: 10px;
}

.card-title {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 25px;
}

.cartd-text {
  color: #0f0a0a;
  text-decoration: none;
  font-size: 16px;
  font-size: large;
}

.form-group {
  margin: 10px 0px;
}

.form-control {
  padding: 8%;
  width: 70%;
  font-size: 16px;
  margin: 20px 20px;
  border: none;
  border-radius: 10px;
  color: #f25f5f;
  background-color: #0fcdf444;
 
}
.input-error{
  color: red;
  margin-right:15%;
  font-size: 12px;
}



.alert {
  background-color: #cee6c6; 
  color: #070202;
  padding: 10px 15px;
 
  border-radius: 5px;
  width: 350px; 
  height: 70px;
  margin: 0 auto; 
}

.close {
  float: right;
  cursor: pointer;
}

.table-header {
  padding: 10px;
 
  border: 1px solid hwb(255 96% 2%);
}
h1, h2,h4,p{
  text-align: left;
}

.add-button-icone {
  background-color: #e7d2d2;
  padding: 15px 15px;
  max-width: 100%;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: #530407;
}

.table{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color:#041f43 ;
  margin-left: auto;
  margin-right: auto;
}

.table-header {
  padding: 10px;
 
  border: 1px solid hwb(255 96% 2%);
}
h1, h2,h4,p{
  text-align: left;
}

.btn-delete {
  background-color: #9ac6ed;
  padding: 1px;
  width: 20px;
  font-size: 16px;
text-align: center;
  border: none;
  border-radius: 10px;
  color: #640606;
}